* {
  margin: 0;
  font-family: lato;
  color: #767270;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #dedede;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centered-block {
  display: block;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

a:link {
  text-decoration: none;
}

.fa {
  margin: 10px;
  color: #222222;
}

.fa:not(.fa-2x) {
  font-size: 28px;
}

header, footer {
  background-color: #222222;
  height: 50px;
}

header a, footer p {
  line-height: 50px;
  color: #ccc;
}

header a {
  margin: 0 20px;
}

header .terminal {
  font-family: "Inconsolata";
  color: #45D40C;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.article-wrapper article:first-child {
  margin-top: 0;
}

.name {
  /*font-size: 5em;*/
}

/*SIDEBAR*/
.sidebar-wrapper, #main {
  padding: 0 10px;
}

.sidebar-info, article {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sidebar-info {
  background-color: #222222;
}

.sidebar-info h3, .sidebar-info a, .sidebar-info p, .sidebar-info span, .sidebar-info .fa {
  color: #ccc;
}

.sidebar-section {
  border-bottom: 2px solid #ccc;
  padding: 20px;
}

.avatar-container {
  text-align: center;
}

.avatar {
  border-style: solid;
  border-width: 5px;
  border-color: #292929;
  /*margin-top: 20px;*/
  height: 200px;
}

.img-circle {
  border-radius: 50%;
}

.about-me {
  line-height: 44px;
}

/*SKILLS*/
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #5d5d5d;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  height: 2px;
  overflow: visible;
}

.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: white;
}

.progress .determinate .fa {
  font-size: 12px;
  position: absolute;
  top: -15px;
  right: -20px;
  margin-left: 50%;
  color: white;
}

/*ARTICLE*/
article {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.job {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.article-content > h3 {
  line-height: 48px;
}

.role {
  font-weight: bold;
}

.company, .date-range {
  font-size: 0.7em;
}

.job-description {
  font-size: 0.65em;
}

/*FOOTER*/
.credit a {
  color: #ccc;
}

/*RESPONSIVE*/
@media only screen and (max-width: 480px) {
  bheader, footer {
    height: auto;
  }
}
